/* write your override styles here */
#wall .tag-1{
    display:none;
    position: relative;
}
div#wall #tag-2 {
    display: contents;
    position: relative;
}
div#wall #tag-3.slick {
    display: contents;
    position: relative;
}
div#wall #tag-4 {
    position: fixed;
    display: contents;
}

